@import "./scss/themes.scss";

#app-root {
  @include theme($themes) {
    background-color:                               themed('app-bg');
    color:                                          themed('app-text-color');
  }

  a {
    @include theme($themes) {
      color:                                        themed('app-link-color');
    }

    & :hover {
      @include theme($themes) {
        color:                                        themed('app-link-hover-color');
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight:                                    $app-headings-font-weigth;
  }
}