{
  "extends": "airbnb",

  "env": {
    // Define globals exposed by modern browsers.
    "browser": true,

    // Define globals exposed by jQuery.
    "jquery": true,

    // Define globals exposed by Node.js.
    "node": true,

    // Define globals exposed by Jest
    "jest": true,

    // Allow ES6.
    "es6": true,
  },

  "plugins": [
    "react-hooks",
  ],

  "rules": {
    /*
     * ENFORCING RULES
     */

    // Force all variable names to use either camelCase style or UPPER_CASE with underscores.
    "camelcase": 2,

    // Prohibit use of == and != in favor of === and !==.
    "eqeqeq": 2,

    // Enforce tab width of 2 spaces.
    "indent": 2,

    // Prohibit use of a variable before it is defined.
    "latedef": true,

    // Enforce line length to 100 characters
    "maxlen": 100,

    // Require capitalized names for constructor functions.
    "newcap": true,

    // Enforce use of single quotation marks for strings.
    "quotmark": "single",
    
    // Enforce placing 'use strict' at the top function scope
    "strict": 2,

    // Prohibit use of explicitly undeclared variables.
    "undef": true,

    // Warn when variables are defined but never used.
    "unused": true,

    /*
     * RELAXING RULES
     */

    // Suppress warnings about == null comparisons.
    "eqnull": true,

    // Suppress warnings about inconsistent line endings (LF/CRLF).
    "linebreak-style": 0,

    /*
     * REACT RULES
     */

    // Enforce consistent usage of destructuring assignment EXCEPT for class field declarations.
    "react/destructuring-assignment": ["always", { "ignoreClassFields": true }],

    // Restrict file extensions that may contain JSX (.js/.jsx).
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],

    // Always use Hooks at the top level of your React function
    "react-hooks/rules-of-hooks": "error",

    // Verifies the list of dependencies for Hooks
    "react-hooks/exhaustive-deps": "warn",
  }
}