@import "../../scss/themes";

.transparentButton {
  @include theme($themes) {
    color:                                          rgba(themed('app-text-color'), .75);
    
  }

  &:hover {
    @include theme($themes) {
      color:                                        $brand-primary;
      background-color:                             rgba(themed('app-text-color'), .125);
    }
  }

  .icon {
    // Fixes alignment issue with react-icons + bootstrap
    margin-bottom:                                  3px;
  }
}