@import './mixins/theme.scss';
@import './utilities/text.scss';
@import './variables.scss';

/* Theme System
*  
*  Color system for various App themes.
*/

$themes: (
  light: (
    app-bg: $light-app-bg,
    app-text-color: $light-app-text-color,
    app-link-color: $light-app-link-color,
    app-link-hover-color: $light-app-link-color-hover,
    navbar-bg: $light-navbar-bg,
    footer-bg: $light-footer-bg,
    footer-text-color: $light-footer-text-color,
    newTask-bg: $light-newTask-bg,
    newTask-modal-bg: $light-newTask-modal-bg
  ),
  dark: (
    app-bg: $dark-app-bg,
    app-text-color: $dark-app-text-color,
    app-link-color: $dark-app-link-color,
    app-link-hover-color: $dark-app-link-color-hover,
    navbar-bg: $dark-navbar-bg,
    footer-bg: $dark-footer-bg,
    footer-text-color: $dark-footer-text-color,
    newTask-bg: $dark-newTask-bg,
    newTask-modal-bg: $dark-newTask-modal-bg
  )
);
