@import "../../scss/themes";

.settings-menu {
  padding: $settings-menu-padding !important;
  min-width: $settings-menu-min-width !important;
  max-width: 100%;
  box-shadow: $settings-menu-box-shadow;

  @include theme($themes) {
    border-color: themed("app-bg");
  }

  @include theme($themes) {
    background-color: themed("navbar-bg");
  }

  .dropdown-caret {
    padding: $setttings-menu-caret-padding;
    position: absolute;
    pointer-events: none;

    &.fill {
      height: $setttings-menu-caret-fill-size;
      width: $setttings-menu-caret-fill-size;
      top: $setttings-menu-caret-fill-top;
      right: $setttings-menu-caret-fill-right;

      @include theme($themes) {
        color: themed("navbar-bg");
      }
    }

    &.outline {
      height: $setttings-menu-caret-outline-size;
      width: $setttings-menu-caret-outline-size;
      top: $setttings-menu-caret-outline-top;
      right: $setttings-menu-caret-outline-right;

      @include theme($themes) {
        color: themed("app-bg");
      }
    }
  }
}
